body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* top 1st box start */
.top-box{
    display: flex;
    padding: 10px;
    margin-bottom: 100px;
}
.top-halfwidth-box{
    width: 50%;
    padding-left: 5%;
}
.different-color{
    color: #3c9af1;
}
.top-halfwidth-box img{
    width: 100%;
}
.top-halfwidth-box h1 {
    font-size: 34px;
    color: #5d5a5a;
}
.top-halfwidth-box p {
    font-size: 16px;
    color: #676363;
    padding: 0 0 20px;
}
.link-button {
    padding: 10px 15px;
    background-image: linear-gradient(
    45deg, #0c2090, #6e9bc145);
    color: white;
    text-decoration: none;
    border-radius: 50px;
}
/* top 1st box end */

/* second section start */
.about-me-section{
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 45px;
}
.halfwith-aboutme{
    width: 50%;
    line-height: 52px;
}
.halfwith-aboutme h1 {
    color: #5d5a5a;
}
.halfwith-aboutme img{
    width: 70%;
}
.right-text {
    padding: 64px 0 0 80px;
}
/* second section end */

/* third part start */
.recipies-heading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.three-parts{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.food-details{
    width: 28%;
    box-shadow: 10px 10px 40px 0 #80808082;
    border-radius: 20px;
}
.food-image {
    padding: 15px;
}
.food-image img{
    width: 100%;
}
.food-text {
    padding: 0 12px 0 26px;
}
/* third part end */

/* footer start */
footer{
    background-color: black;
    padding: 10px 0;
}
.footer-text{
    margin: 0 auto;
    text-align: center;
    color: white;
}
.footer-text p {
    font-size: 12px;
}

/* footer end */